*/ {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  text-align: center;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 50px;
}
p {
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 200px;
  margin-right: 200px;
}
.wrapper {
  width: 100%;
  margin-top: 20em;
  text-align: center;
}
a.button {
  background-color: red;
  padding: 1em 3em;
  border-radius: 100px;
  color: white;
  text-decoration: none;
  display: inline-block;

  /*animation*/
  animation-duration: 1s;
  animation-iteration-count: 10;
}
.scroll {
  margin-top: 500px;
}
